.RollDice {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.RollDice-dice {
  display: flex;
  justify-content: center;
  align-content: center;
}

.RollDice button {
  align-self: center;
  width: 15em;
  padding: 1.5em;
  border: 0px;
  border-radius: 10px;
  color: azure;
  background-color: grey;
  margin-top: 3em;
}

.RollDice-button-disabled {
  opacity: 0.5;
}

.RollDice button:hover {
  background-color: rgb(72, 121, 105);
  cursor: pointer;
}
